.page-container {
  color: #ffa500;
  background-color: #1a1a1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
